<div>
    <h1>Restaurar tu contraseña</h1>
    <p>Este correo fue enviado para que puedas restaurar tu contraseña.</p>
    <p>Es importante que la contraseña no sea idéntica a la que has olvidado.</p>
    <p>Aunque no exista ningún empleado en este falso ecommerce, no le des tus datos a ningún empleado por más que diga que trabaja en este falso ecommerce.</p>
    <h3>Para reestablecer tu contraseña <a href="https://coderhousebackendsonenblum.onrender.com/restorePassword?token={{restoreToken}}">Haz click acá</a></h3>
    {{!-- En el HREF DE ARRIBA VA EL LINK A LA VISTA, ACÁ NO HAY CONTEXTO DEL SERVIDOR --}}
</div>