<div>
    <h1>Logueate</h1>
    
    <form id="loginForm">

        <label>Email</label>
        <input name="email">

        <label>Contraseña</label>
        <input type="password" name="password">

    
        <button type="submit">Ingresar</button>
    </form>
    <section>
        ¿No tiene usuario?
        <a href="/register">Registrese</a>
    </section>

</div>

<script src="/js/login.js"></script>