@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,800&display=swap');

body {
    margin: 0;
    padding: 10%;
    /* display: flex;
    flex-wrap: wrap; */
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #000;
}
#productsCatalogue{
    display: flex;
    flex-wrap: wrap;
}
h1{
    color: #fff;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 20vw;
    height: auto;
    background: #fff;
    margin: 20px;    
}



.container .details {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;

}

.container .details h2{
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1em;
    color: #444;
}

.container .details p {
    max-width: 85%;
    margin-left: 15%;
    color: #333;
    font-size: 15px;
    margin-bottom: 36px;
    text-align: end;
}

.container .details h3 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: #a2a2a2;
    float: right;
}
.container .details #addToCartBtn {
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 20px;
    margin-top: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 40px;
    float: right;
}
.container .details #addToCartBtn:hover{
    /* color: #F18557; */
    background-color: #F18557;
    transition: 1s;
}

#paginatorDiv{
    display: flex;
    justify-content: space-around;

}

#logout-btn {
    background-image: linear-gradient(to right, #fd5c47 0%, #ee672d  51%, #af0c0c  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
    border-style: none;
  }

  #logout-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
#cart-icon{
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


           