<div>
    <h1>¿Olvidaste tu contraseña?</h1>
    <h2>Escribe tu correo</h2>
    <form id="restoreRequestForm" action="">

        <label>Email</label>
        <input type="email" name="email">

        <button type="submit">Recuperar</button>
    </form>
    <p id="message"></p>
</div>

<script src="/js/restoreRequest.js"></script>