@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,800&display=swap');

body {
    margin: 0;
    padding: 10%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #141414;
    color: #eeecec;
}
#cart-container{
        display: flex;
        flex-direction: column;
}
.product-card{
    color: #444;
    display: flex;
    background: #fff;
    width: 80vw;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    margin: 5vh 0

}

.purchase-btn{
    background-image: linear-gradient(to right, #fd5c47 0%, #ee672d  51%, #af0c0c  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    border-style: none;
    align-self: flex-end;
}


.delete-btn{
    height: 1rem;
    width: 1rem;
    padding: 0.2rem
}
.delete-btn:hover{
    border-bottom: 0.5px solid #444
}